/* ----------------------elements------------------------ */
body {
  background-color: #f6f6f6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  display: inline-block;
  position: absolute;
  right: 20px;
}
p {
  color: #7bcc1c;
}

/* ------------------------ Classes---------------- */
.ax-logo {
  margin: 10px;
}


.contact-links {
    text-align: center;
    margin-top: 30px;
  }
  
 
 .contact-links a {
    color: black;
    text-decoration: none;
    margin-right: 40px;
}
  
.contact-links a:hover {
    color: #7bcc1c;
}

.first-div {
  background-color: #f6f6f6;
}

.first-header {
  color: brown;
}

.laptop-img {
  max-height: 450px;
  max-width: 300px;
  position: absolute;
  right: 100px;
  top: 100px;
  display: inline-block;
  content: url("https://images.squarespace-cdn.com/content/v1/5ece2ac40514bb77afb1018d/1616677595712-H20SABE6FNYMAI48M94Z/AXWIFI_slide+%282%29.png");
}

.second-div {
  padding-bottom: 100px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5ece2ac40514bb77afb1018d/1616076016054-YL2FHNHN1IQ3XTS4ULDN/space_background_1500px.jpg?format=100w 100w,https://images.squarespace-cdn.com/content/v1/5ece2ac40514bb77afb1018d/1616076016054-YL2FHNHN1IQ3XTS4ULDN/space_background_1500px.jpg?format=300w");
  height: max-content;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}





.table {
  width: auto;
  color: #7bcc1c;
  cellspacing: 20px;
  border: 2px solid #444;
  display: inline-block;
}

/* ---------------- ID --------------------- */
#your-name {
  background-color: burlywood;
  border: 5px solid #444;
  background-color: #7bcc1c;
}
